<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.neura.sampleapplication">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- Once you target Android 10 make sure you are adding the following permissions
             Note that it is your responsibility to ask for location & Activity recognition runtime permission-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/big_neura_circle"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:name=".SampleApplication"
            android:theme="@style/AppTheme">
        <activity android:name=".presentation.screens.authentication.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".common.services.FCMPushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>